#map {
  position: absolute;
}

#map-title {
  background: rgba(255, 96, 29, 0.3);
  left: 20px;
  padding: 5px 20px;
  position: absolute;
  top: 15px;
}

#map-title h1 {
  font-size: 30px;
  margin-bottom: 0px;
}

#geocoder {
  position: absolute;
  top: 20px;
  left: 540px;
  width: 300px;
}

#geocoder .mapboxgl-ctrl-geocoder {
  width: initial;
}

#map-legend {
  position: absolute;
  display: flex;
  top: 80px;
  left: 30px;
}

#map-legend__preparation-program {
  display: flex;
  align-items: center;
}

#map-legend__preparation-program #preparation-program__icon {
  border-radius: 100%;
  height: 15px;
  width: 15px;
  background-color: rgb(255, 96, 29);
}

#map-legend__school {
  display: flex;
  align-items: center;
}

#map-legend__school #school__icon {
  background-color: #c31fff;
  height: 15px;
  margin-left: 20px;
  width: 15px;
}

#map-legend__school span {
  margin-left: 5px;
}

#map-legend__preparation-program span {
  margin-left: 5px;
}

#filter-results-by {
  background-color: white;
  bottom: 20px;
  font-family: Arial;
  left: 20px;
  opacity: 0.8;
  overflow-y: scroll;
  padding: 20px;
  position: absolute;
  top: 120px;
}

#filter-results-by__title {
  margin-bottom: 10px;
}

.sub-contents {
  padding-left: 20px;
}

.collapse-toggle, .collapse-toggle:hover {
  color: rgb(33, 37, 41);
  text-decoration: none;
}

/* Mapbox tweaks */
.mapboxgl-popup-content {
  max-width: 360px;
  width: 100vw;
}
